<h1> Is it a Roast or Boast </h1>

<h2>Jokes are R Us!</h2>

    <a href="/">All GhostPost</a> <br>
    <a href="/boasts/">Boasts</a><br>
    <a href="/roasts/">Roasts</a><br>
    <a href="/all/">Sort by Votes</a><br><br>
    <a href="/addpost/">Add your own Roast or Boast</a><br><br>
    

    {% for foo in data %}
        <ul>
        {% if foo.is_boast %}<h4>Boast:</h4><p>{{foo.post}}</p>
        {% else %} <h4>Roast:</h4><p>{{foo.post}}</p>
        {% endif %} 
        <button><a href='/upvote/{{foo.id}}/'>Upvotes: {{foo.up_votes}}</a></button>
        <button><a href='/downvote/{{foo.id}}/'>Downvotes: {{foo.down_votes}}</a></button>
        <p>Votes:{{foo.total_votes}}</p>
        <p>{{foo.submission_time}}</p>
        </ul> 
    {% endfor %}